<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @post.votes %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>
<h2> Comments</h2>
<% @post.comments.each do |comment| %>
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.content %>
</p>
<% end %>

<h2>Add a Comment:</h2>

<%= form_for([@post, @post.comments.build]) do |f| %>
<p>
  <%=f.label :user_id %><br />
  <%= f.text_field :user_id %>
</p>

<p>
  <%=f.label :content %><br />
  <%= f.text_area :content%>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
